#popular-games{
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    width: 100%;
    height: var(--game-card-height);
}

#popular-games-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-button{
    height: 50px;
    align-self: center;  
    justify-self: center;
    border: none;
    background-color: transparent;
}

.carousel-left{
    margin-right: 10px;
    z-index: 1000;
    
}

.carousel-right{
    margin-left: 10px;
    z-index: 1000;
    right: 100px;
}

.carousel-caret{
    font-size: 36px;
    transition: color .3s ease;
    color: white;
}

.carousel-caret:hover{
    color: var(--light-purple);
}
