#popular-games{
    display:flex;
}

.game-carousel {
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto 0;
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
}

.carousel-button{
    height: 50px;
    border: none;
    position: absolute;
    top: 50%;
    background-color: transparent;
}

.carousel-left{
    left: 0;
    margin-right: 10px;
    z-index: 1000;
}

.carousel-right{
    margin-left: 10px;
    z-index: 1000;
    right: 0;
}

.carousel-caret{
    font-size: 36px;
    transition: color .3s ease;
    color: white;
}

.game-name-resize {
    position: absolute;
    background-color: #0B0B0D88;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 50px 50px;
    display: none;
}

.carousel-caret:hover{
    color: var(--light-purple);
}

