
#year-selection-input{
    font-size: 60px;
    border: none;
    background-color: transparent;
    outline: none;
    appearance: none;
    color: white;
    width: 140px;
}

.year-button{
  border: none;
  background: none;
}

#year-selection-input::-webkit-outer-spin-button,
#year-selection-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.year-select-caret {
  font-size: 36px;
  transition: color .3s ease;
  color: white;
}

.year-select-caret:hover {
  color: var(--light-purple);
}
