#popular-games{
    display: flex;
}

#popular-games-carousel {
    display: flex;
}

.carousel-button{
    height: 50px;
    align-self: center;
}

.carousel-left{
    margin-right: 10px;
}

.carousel-right{
    margin-left: 10px;
}
