:root {
    /* --game-card-width: calc(780px * 1.333);
    --game-card-height: calc(438.76px * 1.333); */
    --game-card-width: 100%;
    --game-card-height: auto;
    --game-card-width-half: calc(var(--game-card-width) * 0.5);
    --game-card-width-three-fourths: calc(var(--game-card-width) * 0.75);
    --game-card-height-half: calc(var(--game-card-height) * 0.5);
    --game-card-height-three-fourths: calc(var(--game-card-height) * 0.75);
}

.game-info-card{
    /* aspect-ratio: auto; */
    /* add background image property */
    position: absolute;
    max-width: 100%;
}

.game-info-card > img{
    max-width: 100%;
    height: 100%;
}

.game-info-card-0{
    z-index: 1;
    transform: translate(-50%, 0) scale(.6);
}

.game-info-card-1{
    z-index: 2;
    transform: translate(-30%, 0) scale(.75);
}

.game-info-card-2{
    z-index: 4;
}

.game-info-card-3{
    z-index: 2;
    transform: translate(30%, 0) scale(.75);
}

.game-info-card-4{
    z-index: 1;
    transform: translate(50%, 0) scale(.6);
  }

/* .game-info-card.recommendation{
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
}

.game-info-card.inactive{
    opacity: 0;
}

.game-image {
    width: 100%;
    height: 100%;
}

.game-name {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #0B0B0D88;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.game-name > h1{
    text-transform: uppercase;
    font-size: clamp(1rem, 2.5vw, 2rem);
}
.left-edge {
    width: var(--game-card-width-half);
    height: var(--game-card-height-half);
    transform: translateX(-90%);
    z-index: 2; 
}

.left-next {
    width: var(--game-card-width-three-fourths);
    height: var(--game-card-height-three-fourths);
    transform: translateX(-30%);
    z-index: 3;

}

.game-info-card.active {
    z-index: 4;
    cursor: pointer;

}

.right-next{
    width: var(--game-card-width-three-fourths);
    height: var(--game-card-height-three-fourths);
    transform: translateX(30%);
    z-index: 3;
}

.right-edge {

    width: var(--game-card-width-half);
    height: var(--game-card-height-half);

    transform: translateX(90%);
    z-index: 2;
}

@media screen and (max-width: 1247px) {
    .game-info-card.recommendation .game-name{
        display: flex;
        width: 100%;
        height: 100%;
        padding: 0;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 767px) {
    .game-info-card {
        animation: none !important;
    }
}

@keyframes left-next-to-edge{
    0%{
        transform: scale(1.5) translateX(-30%);
    }

    100%{
        transform: scale(1) translateX(-90%);
    }
}

 @keyframes active-to-left-next{

    0%{
        transform: scale(1.33) translateX(0);
    }

    100%{
        transform: scale(1) translateX(-30%);
    }
}

@keyframes right-next-to-active{

    0%{
        transform: scale(.75) translateX(30%);
    }


    100%{
        transform: scale(1) translateX(0);
        
    }
}

@keyframes right-edge-to-next{

    0%{
        transform: scale(.5) translateX(90%)  ;
    }

    100%{
        transform: scale(1) translateX(30%)  ;
        
    }
} 
@keyframes fade-in-right-edge{

    0%{
        z-index: 1;
        transform: translateX(90%) scale(.5) ;

    }
    75%{
        z-index: 2;
    }

    100%{
        transform: translateX(90%) scale(1) ;
    }
}

 @keyframes right-next-to-edge{
    0%{
        transform:  translateX(30%) scale(1.5);
    }

    100%{
        transform:  translateX(90%) scale(1);
    }
}

@keyframes active-to-right-next{

    0%{
        transform: scale(1.33) translateX(0);
    }

    100%{
        transform: scale(1) translateX(30%);
    }
}

@keyframes left-next-to-active{

    0%{
        transform: scale(.75) translateX(-30%);
    }


    100%{
        transform: scale(1) translateX(0);
        
    }
}

@keyframes left-edge-to-next{
    0%{
        transform:scale(.5) translateX(-90%);
    }

    100%{
        transform:scale(1) translateX(-30%);
        
    }
}


@keyframes fade-in-left-edge{
    0%{
        transform: translateX(-90%) scale(.5) ;

    }

    100%{
        transform: translateX(-90%) scale(1) ;
    }
} */
