:root {
    --game-card-width-half: calc(var(--game-card-width) * 0.5);
    --game-card-width-three-fourths: calc(var(--game-card-width) * 0.75);
    --game-card-height-half: calc(var(--game-card-height) * 0.5);
    --game-card-height-three-fourths: calc(var(--game-card-height) * 0.75);
}

.game-info-card {
    position: absolute;
    width: var(--game-card-width);
    height: var(--game-card-height);
}

.game-image {
    width: 100%;
    height: 100%;
}

.game-name {
    position: absolute;
    background-color: #0B0B0D88;
    bottom: 0;
    padding: 50px 50px;
}

.game-name > h1{
    text-transform: uppercase;
    font-size: 20px;
}
.left-edge {
    left: 0;
    width: var(--game-card-width-half);
    height: var(--game-card-height-half);
    left: 25%;
    transform: translateX(calc((-1 * var(--game-card-width-half) / 2)));
    z-index: 2; 
}

.left-next {
    left: 37.5%;
    width: var(--game-card-width-three-fourths);
    height: var(--game-card-height-three-fourths);
    transform: translateX(calc((-1 * calc(var(--game-card-width-three-fourths)) / 2)));
    z-index: 3;
}

.game-info-card.active {
    z-index: 4;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;

}

.right-next{
    right: 37.5%;
    width: var(--game-card-width-three-fourths);
    height: var(--game-card-height-three-fourths);
    transform: translateX(calc((calc(var(--game-card-width-three-fourths)) / 2)));
    z-index: 3;
}

.right-edge {
    width: var(--game-card-width-half);
    height: var(--game-card-height-half);
    right: 25%;
    transform: translateX(calc((var(--game-card-width-half) / 2)));
    z-index: 2;
}
/*left button clicked  animations */
/*right button clicked  animations */

@keyframes left-next-to-edge{
    0%{
        left: 37.5%;
        transform: translateX(calc((-1 * calc(var(--game-card-width-three-fourths)) / 2)));
        width: var(--game-card-width-three-fourths);
    }
    75%{
        z-index: 2;
    }
}
 /*
@keyframes active-to-left-next{

    0%{
        max-width: var(--game-card-width);
        left: 50%;
        transform: translateX(-50%);
        z-index: 4;
        
    }

    75%{
        z-index: 3;
    }


}

@keyframes right-next-to-active{

    0%{
        left: 62.5%;
        z-index: 3;
        width: var(--game-card-width-three-fourths);
        transform: translateX( calc(( -1 * calc(var(--game-card-width-three-fourths)) / 2)));
    }

    75%{
        z-index: 4;
    }
}

@keyframes right-edge-to-next{

    0%{
        width: var(--game-card-width-half);
        right: 25%;
        transform: translateX(calc((var(--game-card-width-half) / 2)));
        z-index: 2;

    }
    75%{
       z-index: 3;

    }
}

@keyframes fade-in-right-edge{

    0%{
        width: 0;
        right: 25%;
        transform: translateX(calc((var(--game-card-width-half) / 2)));
        z-index: 1;

    }

    75%{
        z-index: 2;
    }
}




@keyframes right-next-to-edge{
    0%{
        right: 15%;
        z-index: 3;
    }
    25%{
        right: 13.75%;
        z-index: 3;
    }

    50%{
        right: 12.5%;
        z-index: 3;
    }

    75%{
        right: 11.25%;
        z-index: 2;
    }

    100%{
        right: 10%;
        z-index: 2;
    }
}

@keyframes active-to-right-next{

    0%{
        right: 23%;
        z-index: 4;
        
    }
    25%{
        right: 20%;
        z-index: 4;
    }

    50%{
        right: 17.5%;
        z-index: 4;
    }

    75%{
        right: 16.25%;
        z-index: 3;
    }

    100%{
        right: 15%;
        z-index: 3;
        height: calc(var(--game-card-height) * .9);
    }
}

@keyframes left-next-to-active{

    0%{
        left: 15%;
        z-index: 4;
        height: calc(var(--game-card-height) * .9);
    }
    25%{
        left: 17%;
        z-index: 4;
    }

    50%{
        left: 19%;
        z-index: 4;
    }

    75%{
        left: 21%;
        z-index: 4;
    }

    100%{
        z-index: 4;
    }
}

@keyframes left-edge-to-next{

    0%{
        left: 10%;
        height: calc(var(--game-card-height) * .75);

    }
    25%{
        left: 11.25%;

    }

    50%{
        left: 12.5%;
    }

    75%{
        left: 13.75%;

    }

    100%{
        height: calc(var(--game-card-height) * .9);
    }
}
@keyframes fade-in-left-edge{

    0%{
        left: 10%;
        height: calc(var(--game-card-height) * .5);

    }

    100%{
        height: calc(var(--game-card-height) * .75);
    }
} */
