    .game-detail{
        padding: 2rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1001;
        background: #2b2b2b;
        width: 80vw;
        height: fit-content;
    }

    .game-detail > nav{
        display: flex;
        padding-bottom: 2rem;
        justify-content: space-between;
    }

    .game-detail > nav > h1 {
        font-size: 1.5rem;
    }

    .game-detail-content{
        display: grid;
        grid-template-columns: minmax(300px, 2fr) minmax(150px, 1fr);
        gap: 2rem;
    }

    .game-detail-content > .screenshot-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .screenshot-section > img {
        width: 100%
    }

    .game-detail-carousel {
        display: flex;
    }

    .game-detail-carousel-button {
        width: 100%;
        border: none;
        background: none;
        padding: 0;
    }
    .game-detail-carousel-button.highlight {
        border: 2px solid var(--light-purple);
        transform: scale(1.05);
    }
    .game-detail-carousel > button > img {
        width: 100%;
    }

    .game-details-section{
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }

    .game-details-section > p {
        font-size: clamp(.75rem, 1vw, 1rem);
    }

    .game-details-section-img {
        width: 100%;
    }

    .game-detail-list {
        display: flex;
        flex-direction: column;
    }

    .game-detail-listing {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: .5rem 0;
        font-size: clamp(.5rem, .8vw, .75rem);
    }

    .game-detail-list {
        display: flex;
        flex-direction: column;
    }

    .game-detail-listing-value{
        color: var(--light-purple);
    }


    @media (max-width: 1024px) {
        .game-detail-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .screenshot-section > img {
            width: 100%;   
        }

        .game-details-section-img {
            display: none;
        }
        
        .game-details-section > p {
            font-size: clamp(1rem, 2vw, 2rem);
        }

        .game-detail-listing {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: .5rem 0;
            font-size: clamp(1rem, 2vw, 2rem);
        }
    }

    @media (max-width: 767px) {
        .game-detail-content{
            display: block;
            gap: 2rem;
        }

        .game-details-section > p {
            padding: 1rem 0 0 0;
            font-size: clamp(.75rem, 1vw, 1rem);
        }

        .game-detail-listing {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: .5rem 0;
            font-size: clamp(.5rem, 1vw, 1rem);
        }
    } 