    .game-detail{
        padding: 2rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1001;
        background: hsl(250, 96%, 20%);
        border: 5px solid white;
        border-radius: 1rem;
        min-width: 1200px;
        height: 820px;
        overflow-y: auto;
        color: white;
    }

    .overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 30;
        background: #6444fb;
    }

    .game-detail > .loading-component{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .game-detail > .loading-component > .loading-text {
        font-size: 4rem;
    }

    .game-not-found{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .game-not-found > p {
        font-size: 2rem
    }

    .game-not-found > .random-game-button {
        cursor: pointer;
    }

    .game-not-found > .random-game-button:hover {
        color: var(--main-bg-color);
    }

    .game-detail > nav{
        display: flex;
        padding-bottom: 2rem;
        justify-content: space-between;
    }

    .game-detail > nav > h1 {
        font-size: 1.5rem;
    }

    .game-detail > nav > .nav-buttons {
        display: flex;
        gap: 3rem;
    }

    .nav-buttons * {
        font-size: clamp(1rem, -0.429rem + 3.81vw, 3rem);
    }

    .game-detail > nav .random-game-button {
        border: none;
        cursor: pointer;
    }

    .game-detail > nav .random-game-button:hover {
        transform: rotate(15deg);
        color:#6444fb;
    }

    .game-detail > nav .close-button {
        display:flex;
        align-items: center;
        background: none;
        border: none;
        padding: 0;
        color: white;
        cursor: pointer;
        font-size: 3rem;
    }

    .game-detail > nav .close-button:hover {
        color:#6444fb;
    }

    .game-detail-content{
        display: grid;
        grid-template-columns: minmax(300px, 2fr) minmax(150px, 1fr);
        gap: 2rem;
    }

    .game-detail-content > .screenshot-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .screenshot-section > img {
            min-width: 0; 
            width: 100%;
            object-fit: contain; 
        }

    .game-detail-carousel {
        display: flex;
    }

    .game-detail-carousel-button {
        width: 100%;
        border: none;
        background: none;
        padding: 0;
        cursor: pointer;
    }
    .game-detail-carousel-button.highlight {
        border: 2px solid #6444fb;
        transform: scale(1.05);
    }
    .game-detail-carousel > button > img {
        width: 100%;
    }

    .game-details-section{
        display: flex;
        flex-direction: column;
        height: fit-content;
        row-gap: 1rem;
    }

    .game-details-section > p {
        font-size: clamp(.75rem, 1vw, 1rem);
    }

    .game-details-section-img {
        width: 100%;
    }

    .game-detail-list {
        display: flex;
        flex-direction: column;
    }

    .game-detail-listing {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: .5rem 0;
        font-size: clamp(.5rem, .8vw, .75rem);
    }

    .game-detail-list {
        display: flex;
        flex-direction: column;
    }

    .game-detail-listing-value{
        color: #6444fb;
    }

    @media (max-width: 1200px){
        .game-detail {
            min-width: 100%;
        }
    }


    @media (max-width: 1024px) {

        .game-detail{
            height: 100svh;
        }
        
        .game-detail-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        /* .screenshot-section > img {
            min-width: 0; 
            width: 100%;
            object-fit: contain; 
        } */

        .game-details-section-img {
            display: none;
        }
        
        .game-details-section > p {
            font-size: clamp(1rem, 2vw, 2rem);
        }

        .game-detail-listing {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: .5rem 0;
            font-size: clamp(1rem, 2vw, 2rem);
        }
    }

    @media (max-width: 767px) {
        .game-detail{
            height: fit-content;
        }
        
        .game-detail-content{
            display: block;
            gap: 2rem;
        }

        .game-details-section > p {
            padding: 1rem 0 0 0;
            font-size: clamp(.75rem, 1vw, 1rem);
        }

        .game-detail-listing {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: .5rem 0;
            font-size: clamp(.5rem, 1vw, 1rem);
        }
    } 