.game-page{
    display: grid;
    grid-template-rows: 1fr 8fr;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    background: black;
    width: 80vw;
    height: 800px;
    padding: 0 25px;
}

#game-page-nav {
  display: flex;  
  justify-content: space-between;
  align-items: center;
  height: 85px;
}

#game-page-nav-buttons {
    display: flex;
    width: 15%;
    justify-content: space-between;
    align-items: center;
}

#game-page-random-button {
    height: 50px;
    width: 50px;
    border: none;
    font-size: clamp(2vw, 2rem, 5vw);
}

.random-button-styling {
    color: var(--light-purple);
    background: none;
    border: none;
}

.random-button-large{
    font-size: 15vw;
}

#game-page-nav-random-icon:hover{
    color: white;
    font-size: clamp(2.5vw, 2.25rem, 5.5vw);
    transform: rotate(15deg);
}

#large-random-icon {
    font-size: 10vw;
}

#large-random-icon:hover{
    color: white;
    font-size: 10vw;
    transform: rotate(15deg);
}


#game-page-nav > .game-title{
    font-family: 'Inter', 'sans-serif';
    font-size: clamp(.75rem, 3vw, 3rem);
}

.exit-button{
    background-color: var(--light-purple);
    font-size: clamp(2vw, 2rem, 5vw);
    border: none;
}

.exit-button:hover{
    background-color: white;
}

.game-page-main {
    display: grid;
    width: 100%;
    grid-template-columns: 3fr 2fr;
    gap: 20px;   
}

.game-not-found{
    display: grid;
    justify-content: center;
    grid-column: span 2;
    text-align: center;
}

#game-not-found-prompt {
    color: var(--light-purple);
    font-family: 'Inter', 'sans-serif';
    font-size: 32px;
    justify-self: center;
}
/****screenshot-carousel****/

#screenshot-carousel-main-image {
    width: 100%;
    height: 500px;
    object-fit: contain;
}

.screenshots {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}
.screenshot {
    width: 100%;
    height: 80px;
}

.screenshot:hover {
    cursor: pointer;
    opacity: 50%;
}
.screenshot.active {
    border: 1px solid var(--light-purple);
    cursor: default;
    height: 90px;
}

.screenshot.active:hover {
    opacity: 100%;
}

/****game-page-right ****/

#game-page-right {
    overflow: hidden;
}
#game-page-image-right {
    width: 100%;
    height: 300px;
    object-fit:contain;
}

#game-info {
    font-family: 'Inter', 'sans-serif';
    font-size: clamp(.6rem, 1.5vw, 70%);
    font-weight: 100;
}

.game-info-list {
    display: grid;
    grid-template-columns: 2fr 5fr;
}

.game-info-list > ul {
    display: grid;
    grid-template-columns: repeat(5, fit-content(40%));
    margin-bottom: 10px;
}

#game-overview > .description {
    line-height: 110%;
    margin-bottom: 10px;
}

#game-info .highlight {
    color: var(--light-purple);
}

.released, .rating{
    display: grid;
    grid-template-columns: 2fr 5fr;
    margin-bottom: 10px;
}

#game-platforms {
    line-height: 120%;
}

/* Tablets */
@media screen and (max-width: 1250px) {
    .game-page-main {
        grid-template-columns: 1fr;
    }
    #screenshot-carousel {
        display: none;
    }
}

/* Smartphones */
@media screen and (max-width: 767px) {
    .game-page{
        width: 100%;
    }
}





