@import url(Animations.css);

:root{
    --gradient-top: #0c0c14;
    --gradient-middle: #241434;
    --gradient-bottom: #975ad4;

    --main-bg-color-op-50: hsla(0, 0%, 12%, 0.507);  
    --i: 0;  
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #6444fb;
}
/* background: black linear-gradient(180deg, var(--gradient-top), var(--gradient-middle), var(--gradient-bottom)); */


/******* loading-screen *******/
.loading-screen > h1{
    font-size: 4rem;
    color: white;
}
/*****************************/

.wrapper{
    display: flex;
    color: black;
    height: 100svh;
}

/******* bento-container *******/

.bento-container {
    display: grid;
    margin: auto;
    gap: 1.5rem;
    min-width: 1024px;
    height: 80%;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
    border-radius: 1rem;
}

.bento-sub-container {
    display: grid;
    gap: 1rem;
}

.bento-sub-container.zero.top.left {
    grid-template-rows: 1fr 2fr;
}

.bento-sub-container.zero.top {
    grid-template-rows: 3fr 2fr;
}

.bento-sub-container.zero.bottom {
    grid-column: span 2;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: subgrid;
}

.bento-sub-container.one.top{
    grid-template-columns: 1fr 1fr;
  }
  
  .bento-sub-container.one.bottom{
    grid-template-columns: 1fr 2fr;
  }
/******* Bento Node *******/
.bento-node{
    position:relative;
    border-radius: 1rem;
    border: 3px solid white;
}

.bento-node.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 2fr;
    border: none;
}

.bento-node > img{
    width: 0;
    height: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.bento-node > .overlay {
    display:flex;
    align-items: end;
    justify-content: center;
    background: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    align-items: end;
    transition: all .25s ease;
}

.overlay > .game-name {
    color: rgba(48, 48, 48, 1);
    background: white;
    font-weight: bold;
    padding: 1rem;
    opacity: 0;
    transition: all .25s ease;
    border-radius: 1rem;
    font-size: 1rem;
} 


.bento-node:hover {
    cursor: pointer;
}

.bento-node.main:hover {
    cursor: default;
}

.bento-node.main:hover button{
    cursor: pointer;
}

.bento-node > .overlay:hover {
    background: rgba(0, 0, 0, .4);

}


.bento-node > .overlay:hover > .game-name {
    opacity: 1;
    transform: translateY(-50%) ;
    
}


h1{
    color: white;
}
span{
    display: inline-block;
}

/******* year selection form *******/
.year-selection-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: span 2;
    border: 3px solid white;
    border-radius: 1rem;
}
.year-selection-form{
    display: flex;
    flex-direction: column  ;
}

.year-selection-form .year-container{
    display: flex;
}
.year-selection-form button{
    border: none;
    background: none;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    padding: none;
}

button.submit {
    background: white;
    width: 100%;
    color: #6444FB;
    font-size: 1rem;
    border-radius: 1rem;
    padding: .25rem 0;
}

.year-selection-form  input{
    font-size: 4rem;
    border: none;
    padding: 0;
    width: 8.8rem;
    background: none;
    color: white;
    font-weight: bold;
    appearance: none;
}

/*** Small Screens ***/
@media (max-width: 1024px){
    .bento-container{
        min-width: 768px;
    }
}

/*** Tablets ***/
@media (max-width: 768px){
    .bento-container{
        min-width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .bento-sub-container.zero.top.left {
        grid-column: span 2;
    }
    
    .bento-sub-container.zero.top {
        
    }
    
    .bento-sub-container.zero.bottom {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column: span 1;

    }
}

/*** Mobile Devices ***/
@media (max-width: 480px){
    .bento-container{
        min-width: 768px;
    }
}


@keyframes zoom-in {
    0%{
        transform: scale(1)
    }
    100%{
        transform: scale(1.4);
    }
}



@keyframes fade-in-and-up {
    0%{
        transform: translateY(0);
    }

    100%{
        transform: translateY(-50%);
    }
}















