:root{
    --gradient-br: #7147f1;
    --gradient-tl: #242134;
    --main-bg-color-op-50: hsla(0, 0%, 12%, 0.507);    
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.wrapper{
    background: linear-gradient(135deg, var(--gradient-tl), var(--gradient-br) );
    color: black;
    height: 100svh;
    width: 100svw;
}
